body {
  font-family: Arial, sans-serif;
  background-color: #f4f6f8;
}

/*Home Page*/
.home {
  text-align: center;
}

.subtitle {
  color: #555;
  margin-bottom: 30px;
}

.btn-group {
  display: flex;
  justify-content: center;
  gap: 15px;
}

.btn {
  padding: 10px 20px;
  background-color: #2563eb;
  color: white;
  text-decoration: none;
  border-radius: 4px;
  font-weight: bold;
}

.btn.secondary {
  background-color: #6b7280;
}

.btn:hover {
  opacity: 0.9;
}

/*Signup page*/
.container {
  width: 350px;
  margin: 80px auto;
  padding: 40px;
  background: #ffffff;
  border-radius: 6px;
  box-shadow: 0 2px 10px rgba(0,0,0,0.1);
}

h2 {
  text-align: center;
}

input, select {
  width: 100%;
  padding: 8px;
  margin: 10px 0;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

button:hover {
  background-color: #1d4ed8;
}

